
.amazing{
    height: 294px;
    margin-right: 128px;
    margin-left: 128px;
    direction: rtl;
    display: flex;
    margin-bottom: 16px;
  
   
}
 .amazing .swiper {
    width: 100%;
    height: 100%;
    background: #D92F4E;
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    

    
  }

 .amazing .swiper-slide {
    width: 162px;
    text-align: center;
    font-size: 18px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    padding: 8px;
    margin-right: 2px;
    margin: 0 auto;
    background-color: #FFFFFF;
    
  }
  .amazing .swiper-slide:nth-of-type(2){
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
  } 
  .amazing .swiper-slide:last-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }


  .amazing .swiper-button-next::after{
    color: #8d8d94;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
   
  }
  .amazing .swiper-button-prev::after{
    color: #8d8d94;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 

  .amazing .swiper-slide:first-child{
    width: inherit;
    display: inline-block;
    font-size: 12px;
    align-items: center;
    background-color: #D92F4E;
   
   
  }

 .amazing .swiper-slide:first-child .clock{
    width: 94px;
    height: 32px;
   
  }
.amazing  .swiper-slide:first-child .clock .time{
    width: 100%;
    height: 100%;
    direction: ltr;
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
    
  }
.amazing  .swiper-slide:first-child .clock .time span{
    width: 26px;
    height: 26px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-right:5px;
   
   
  }
.amazing  .swiper-slide:first-child .textfirst{
    width: 83px;
    height: 26px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 12px;
    transform: translatey(-10px);

   
   
   
  }
.amazing  .swiper-slide:first-child .textfirst svg{
    position: absolute;

  
  }


  

.amazing  .swiper-slide img {
    width: 160px;
    height: 132px;
    display: inline-block;
    object-fit: cover;
    background-color: #FFFFFF;
    padding: 8px;
    margin-left: 2px;
      
  
  }

.amazing  .swiper-slide .text{
    width: 160px;
    height: 44px;
    background-color: #ffffff;
    overflow: hidden;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 20px;
    margin-bottom: 2px;
    margin: 0 auto;
    text-align: right;
    transform: translateY(-5px);
    padding-top: 5px;
    padding: 8px;
    margin-left: 2px;
    
    
  
  }
.amazing  .swiper-slide .price{
    background-color: #FFFFFF;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
    transform: translateY(-5px);
    padding-top: 5px;
    padding: 8px;
    margin-left: 2px;
    
    
  
    
    
  }
.amazing  .swiper-slide .price .discount{
    width: 34px;
    height: 20px;
    background-color: #d32f2f;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    justify-content: center;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 16px;
  }
.amazing  .swiper-slide .price span{
    width: auto;
    font-size: 14px;
    font-weight: 700px;
    color: #3f4064;
  }
.amazing  .swiper-slide .price span svg{
    width: 16px;
    height: 16px;
    color: #424750;
    font-size: 14px;
    font-weight: 700px;
  }
 .amazing  .swiper-slide  .olddata{
    background-color: #FFFFFF;
    width: 160px;
    height: 21px;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 10px;
    display: flex;
    flex-flow: row-reverse;
    line-height: 21px;
    transform: translateY(-5px);
    margin-left: 2px;
    
  
  }





