.category{
  height: 464px;
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 16px;
  padding: 16px 0px 40px;

}
  
.category .categories{
    width: 100%;
    height: 100%;
 
}
.category .categories .text{
  width: 100%;
  height: 44px;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 36px;
  

}
.category .categories .swiper {
    width: 100%;
    height: 328px;
    margin-left: auto;
    margin-right: auto;

   
  }

  .category  .categories .swiper-slide {
    width: 178px;
    height: 160px;

    /* Center slide text vertically */
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0px 16px;

   
  }

  .category  .categories .swiper-slide  img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    position: absolute;
    top: 0;
   
   
  }

  .categories .swiper-slide span{
    font-size: 12px;
    width: auto;
    font-weight: 700;
    font-family: sans-serif;
    color: #0c0c0c;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 100px;

  }
  .categories .swiper-button-next::after{
    color: #8d8d94;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 5;
    border: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .categories .swiper-button-prev::after{
    color: #8d8d94;
    font-size: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 5;
    border: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
