.images1{
    height: 241.5px;
    display: flex;
    margin-right: 128px;
    margin-left: 128px;
    margin-bottom: 16px;
    justify-content: space-between;
    
}
.images1 img{
    width: 322px;
    height: 241.5;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
  
}