@import url(setting.css);
@import url(stories.css);
@import url(slider.css);
@import url(services.css);
@import url(amazing.css);
@import url(images.css);
@import url(market.css);
@import url(images1.css);
@import url(categories.css);
@import url(images2.css);
@import url(popular.css);
@import url(image3.css);
@import url(digi.css);
@import url(sellers.css);
@import url(things.css);
@import url(outlet.css);
@import url(hottest.css);
@import url(reading.css);
@import url(information.css);
@import url(informb.css);
@import url(guidence.css);
@import url(footer.css);
@import url(interduce.css);
@import url(brands.css);

body{
  width: 1592px;
  height: 100wv;
  
}
.thead{
  height: 128px;
 
}
.thead .headertop{
    height: 60px;
    display: block;
    background-color: #ffffff;
   
       
}
.thead .headertop img{
    width: 100%;
    height: 100%;  
}
.thead .headerbottom{
    height: 68px;
    display: flex;
    padding: 0 16px;
    background-color:#fafafa;
    align-items: center;
   position: relative;
   
   
 }
.thead .headerbottom .right{
  display: flex;
  width: 65%;

 }

.thead .headerbottom .right .logo{
   height: 68px;
   align-items: center;
  
}

.thead .headerbottom .right .logo svg{
   height: 100%;
   margin-left: 20px;
   
}

.thead .headerbottom   .right .search {
   width: 600px;
   height: 68px;
   display: flex;
  border-radius: 4px;
  align-items: center;
 

}

.thead .headerbottom  .right .search  input{
   width: 100%;
   height: 44px;
   font-family: sans-serif;
   border: 1px solid #aeaebc;
   background-color:#f0f0f1;
   padding-right:  56px;
   font-size: 12px;
   font-weight: 400;
   line-height: 2.17;
   border-radius: 4px;  
   display: flex;
   
  
}
.thead .headerbottom  .right .search  svg{
   flex-direction: row-reverse;
   background-color: #f0f0f1;
   position: absolute;
   cursor: pointer;
   margin-right:  16px;
 
   
}


.thead .headerbottom .left{
    width: 251px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transform: translateX(-297px);
    padding-left: 8px;
    

    
   
 }
.thead .headerbottom .left  svg{
  color: #cdced8;
   display: flex;
   cursor: pointer;
   margin-left: 12px;
   

 }

.thead .headerbottom   .left  
.button{
   height: 40px;
   font-family: sans-serif;
   border:1px solid #aeaebc;
   border-radius: 8px;
   padding: 8px 16px;
   cursor: pointer;
   font-size: 12px;
   font-weight: 700;
   display: flex ;
   color: #424750;
 

 }
.thead .headerbottom   .left  .button svg{
   color: #cdced8;
   display:flex;
   padding-left: 4px;
   cursor: pointer;

 }
.thead .headerbottom  .left  span{
   padding: 8px;
  

 }
.thead .headerbottom .left span svg{
   color: #cdced8;
   display: flex;
   cursor: pointer;
   padding: 8px;

 }

 .menu{
   height: 40px;
   display: flex;
   background-color:#fafafa;
   padding:0 16px;
   flex-flow: row nowrap;
   font-family: sans-serif;
   font-size: small;
   font-weight: 700;
   border-bottom:1px solid lightgrey;


 }
 .menu  .rightmenu{
   display: flex;
   width: 75%;
  
 }
 .menu .rightmenu {
  width:100%;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu  .rightmenu  .menuself{
  height: 100%;

}
.menu .rightmenu  .menuself .menu__list{
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;

}
.menu  .rightmenu   .menuself .menu__list .menu__item {
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;

}
.menu  .rightmenu   .menuself .menu__list .menu__item::before{
  content: "";
  position: absolute;
  top: 38px;
  left: 0;
  width: 1%;
  height: 1.5px;
  background-color: #fff;
  transition: 0.2s;


} 
.menu  .rightmenu   .menuself .menu__list .menu__item:hover::before{
  width: 100%;
  background-color: red;
} 



.menu .rightmenu .menuself .menu__list 
.menu__item .menu__link{
  padding: 0 16px;
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;

}
.menu .rightmenu .menuself .menu__list 
.menu__item .menu__link svg{
  margin-left: 4px;
}

.menu .rightmenu   .menuself .menu__list .menu__item:first-child .menu3{
  width: 150%;
  height: 575px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  z-index: 999;
 background-color: #ffffff;
}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child:hover .menu3{
  display: block;

}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav{
  width:100%;
  height: 100%;
  overflow: auto;
  direction: ltr;

}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list{
  width: 100%;
  height: 100%;
  list-style: none;
  direction: rtl;
}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item{
  width: 100%;
  height:50px;

}
.menu  .rightmenu  .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu3__link{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-right: 16px;
  text-decoration: none;
  color: black;
  background-color: #f1f1f1;
  gap:10px;

}


.menu  .rightmenu    .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu3__link:hover{
  background-color: white;
  color: red;
}

.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu3__link:hover svg{
  fill: red;
}

.menu   .rightmenu  .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4{
  position: absolute;
  top: 0;
  right: 100%;
  width: 60vw;
  height: 575px;
  overflow: auto;
  direction: ltr;
  display: none;
  z-index: 999;
  background-color: #ffffff;
}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item:hover .menu4{
  display: block;

}

.menu   .rightmenu  .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .head{
  width: 100%;
  height: 50px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  direction: rtl;


}
.menu  .rightmenu    .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .head a{
  text-decoration: none;
  display: flex;
  align-items: center;

}

.menu   .rightmenu  .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav{
  width: 100%;
  height: calc(100% - 50px);
  direction: rtl;


}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav .menu4__list{
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-right: 16px;

}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav .menu4__list .menu4__item{
  flex-basis: 25%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  
}

.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav .menu4__list .menu4__link{
  text-decoration: none;
  color: #484646;
  display: flex;
  align-items: center;

}

.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav .menu4__list .menu4__link.title{
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
  color: black;
 
}
.menu  .rightmenu   .menuself .menu__list .menu__item:first-child .menu3 .menu3__nav .menu3__list .menu3__item .menu4 .menu4__nav .menu4__list .menu4__link.title  span{
  color: red;
  margin-left: 4px;
}

.menu .leftmenu{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.menu .leftmenu .cities{
  height: 34px;
  padding: 4px 12px;
  background-color: #FEF6EF;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 9999px;
  gap: 8px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  
}

.menu .leftmenu .cities .icon{
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: normal;
  color: #f57f17;

}
.menu .leftmenu .cities .text{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f57f17;
  cursor: pointer;

















